svg{
background-color: #e5fbdb;
margin-left: 0px;
margin-top: 0px;

}
.axis path, .axis line {     fill: none;     stroke: #333; }
.axis .grid-line {     stroke: #000;     stroke-opacity: 0.2; }
.axis text   {font: 10px Verdana; }
.axis text1  {font-family: sans-serif;   font-size: 21px; }
.shade       {fill: white;     stroke: white;     stroke-width:2;     text-shadow: 0px 1px 0px rgb(210, 210, 210); }
text  {font-family: Courier New;   font-size: 20px; }

text.probeg  {font-family: Courier New;   font-size: 12px; }
tspan.probeg {font-family: Courier New;   font-size: 17px;   fill: red;   stroke: red;   stroke-width:1;   text-anchor:end;  }
.y2-axis{
stroke: blue;

}
.y2-axis line{
  stroke: blue;
  stroke-width: 1px;
}
.y1-axis line{
  stroke: green;
  stroke-width: 0.5;
}
.g2 text {
font-size: 10px;
stroke: green;

}

.labelras text {
stroke: green;
font: 14px Verdana;
font-family: Courier New;
font-size: 12px;
font: italic 13px sans-serif;
}



.classH{
color:red
}

table{
border: solid 1px #c6c1c1;
font-size: 10px;
}
td{
border-top: solid 1px #c6c1c1;
margin:0;
}
.divRGB{
width:55px;
height: 10px;
}
.false{
color:green;

}
.true{
color:red;
}
.point_kod{
}

.pointinfo2{
position: absolute;
left: 10px;
top: 800px;
}